*{
    box-sizing: border-box;
}
body {
    margin: 5%;
}
.boxxx{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    align-content: center;
}
.block1{
    padding: 20px;
    height: 75px;
    width: 265px;
    margin-bottom: 2%;
    background: #FFFFFF;
    box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
    border-radius: 10px;
}
.block2{
    padding: 20px;
    height: 75px;
    margin-bottom: 2%;
    background: #FFFFFF;
    box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
    border-radius: 10px;
}
.minu{
    margin-bottom: 0;
    height: 978px;
    background-color: #003C66;
    border-radius: 10px;
    width: 250px;
    margin-left: 3%;
}
.col-lg-9{
    height: 0;
}
.col2{
    height: 0;
}
.blockM{
    padding: 20px;
    margin-bottom: 4%;
    background: #FFFFFF;
    box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
    border-radius: 10px;
    margin-top: 5%;
    width: 104%;
    margin-left: -2%;
    height: 640px;
}
.md{
    height: 0;
}
.blockTab{
        padding: 20px;
        height: 75px;
        margin-bottom: 2%;
        background: #FFFFFF;
        box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
        border-radius: 10px;
}
.logo{
    width: 66%;
    margin-left: 19%;
    margin-top: -2%;
    border-radius: 150px;
    border: 3px solid#FFFFFF;
}
.group{
    width: 9%;
    margin-left: 89.5%;
    margin-top: 3.5%;
}
.neim{
    margin-left: 7%;
    margin-top: 2%;
    font-style: normal;
    font-weight: 450;
    font-size: 93%;
    line-height: 31px;
    color: #FFFFFF;
}
.neim1{
    margin-left: 7%;
    margin-top: -13%;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    color: #7AF7D9;
}
.cont{
    margin-left: 6%;
    margin-top: 20%;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #7AF7D9;
}
.rectangle{
    margin-left: 6%;
    margin-top: -3%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.address{
    margin-left: 2%;
    margin-top: 14%;
}
.address_text{
    font-style: normal;
    font-size: 14px;
    line-height: 107.57%;
    color: #FFFFFF;
}
.address_mpg{
    width: 10%;
}
.fon{
    margin-left: 2%;
    margin-top: 4%;
}
.fon_text{
    font-style: normal;
    font-size: 16px;
    line-height: 107.57%;
    color: #FFFFFF;
}
.fon_mpg{
    width: 10%;
}
.email{
    margin-left: 2%;
    margin-top: 4%;
}
.email_text{
    font-style: normal;
    font-size: 14px;
    line-height: 107.57%;
    color: #FFFFFF;
}
.email_mpg{
    width: 10%;
}
.social_network{
    margin-left: 5%;
    margin-top: 20%;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #7AF7D9;
}
.rectangle1{
    margin-left: 3%;
    margin-top: -6%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.ellipse_facibook{
    margin-left: 4%;
    margin-top: -34%;
    border-radius: 5px;
    background: #6BE0CB;
}
.facibook_text{
    margin-left: 10%;
    margin-top: 10%;
    font-style: normal;
    font-size: 14px;
    line-height: 107.57%;
    color: #FFFFFF;
}
.education_work{
    margin-left: 5%;
    margin-top: 44%;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #7AF7D9;
}
a{
    color:  #003C66;
}
.rectangle2{
    margin-left: 4%;
    margin-top: -7%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);;
}
.education{
    margin-left: 4%;
    margin-top: 10%;
    font-style: normal;
    font-size: 14px;
    color: #7AF7D9;
}
.education_works1{
    margin-left: 4%;
    margin-top: 10%;
    font-style: normal;
    font-size: 14px;
    color: #7AF7D9;
}
.education_works{
    margin-left: 32%;
    margin-top: -16%;
    font-style: normal;
    font-size: 14px;
    color:#FFFFFF;
}
.education_form1{
    margin-left: 4%;
    margin-top: 10%;
    font-style: normal;
    font-size: 14px;
    color: #7AF7D9;
}
.education_form{
    margin-left: 56%;
    margin-top: -17%;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.education_coach1{
    margin-left: 4%;
    margin-top: 10%;
    font-style: normal;
    font-size: 14px;
    color: #7AF7D9;
}
.education_coach{
    margin-left: 29%;
    margin-top: -16%;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.ellips256{
    width: 85px;
    margin-left: -8%;
    margin-top: -10%;
}
.public_offer{
    margin-left: 32.14%;
    margin-top: -24%;
    bottom: 84.27%;
    font-weight: 500;
    font-size: 100%;
    color: #535353;
}
.nav-link{
    color: #788387;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}
.nav-pills {
	display: flex;
	justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -7px;
}
.nav-pills .nav-link.active {
	background: none;
	color: #0E7BF6;;
	border-bottom: 5px solid #0E7BF6;;
	border-radius: 0;
    font-weight: 600;
}
ul {
    margin-top: 1.5%;
}
.sertifikat{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}



.rectangle4{
    display: flex;
    margin-left: 0%;
    margin-top: -2%;
    width: 85%;
    border-bottom: 2px solid #0971E6;;
}
.courses{
    left: 5%;
    top: 8%;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #0971E6;
}
.rectangle5{
    display: flex;
    margin-left: 0%;
    margin-top: -1%;
    width: 85%;
    border-top: 2px solid #0971E6;
}
.modul {
    margin-left: 0%;
    margin-top: 9%;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #0971E6;
}
.coursesBox{
    margin-left: 1.24%;
    margin-top: 5.06%;
    width: 382px;
    height: 167px;
    background: #FFFFFF;
    box-shadow: 2px 8px 30px #D2D8E9;
    border-radius: 10px;
}
.coursesBox1{
    margin-left: 1.24%;
    margin-top: 5.06%;
    width: 383px;
    height: 167px;
    background: #FFFFFF;
    box-shadow: 2px 8px 30px #D2D8E9;
    border-radius: 10px;
}
.logo1{
    width: 27%;
    height: 62%;
    margin-left: 69%;
    margin-top: 6%;
    border-radius: 50%;
    border: 3px solid#FFFFFF;
}
.coursesBoxFut{
    margin-left: 0%;
    right: 0%;
    margin-top: 21%;
    bottom: 0%;
    background: #003C66;
    border-radius: 0px 0px 10px 10px;
    height: 33px;
}
.coursesBox1Fut{
    margin-left: 0%;
    right: 0%;
    margin-top: 21%;
    bottom: 0%;
    background: #33ABFF;
    border-radius: 0px 0px 10px 10px;
    height: 33px;
}
.level{
    margin-left: 0%;
    margin-top: 1%;
    color: #FFFFFF;
}
.planet{
    width: 5%;
    margin-left: 85%;
    margin-top: -17%;
    color: #FFFFFF;
}
.ua{
    margin-left: 92%;
    margin-top: -15%;
    font-weight: 550;
    font-size: 16px;
    color: #FFFFFF;
}
.lavelTex{
    margin-left: 13%;
    margin-top: -9%;
    font-weight: 550;
    font-size: 12px;
    color: #FFFFFF;
}
.lavelTex1{
    margin-left: 43%;
    margin-top: -9%;
    font-weight: 550;
    font-size: 12px;
    color: #FFFFFF;
}
.coursesBox11{
    margin-left: 3.28%;
    margin-top: -8.9%;
    background: #EDF3FC;
    border-radius: 4px;
    background-color: edf3fc;
    width: 177px;
    height: 27px;
}
.coursesINTITA{
    margin-left: 6.73%;
    right: 3.81%;
    margin-top: 3.39%;
    bottom: 25.03%;
    font-weight: 500;
    font-size: 90%;
    line-height: 172%;
    color: #135BAB;
}
.coursesINTITAtext{
    margin-left: 4.28%;
    right: 42.84%;
    margin-top: -24.5%;
    bottom: 60.69%;
    font-weight: 550;
    font-size: 100%;
    display: flex;
    align-items: center;
    color: #000000;
}
.progress-bar {
    margin-left: 6.28%;
    right: 42.84%;
    margin-top: 15.5%;
    bottom: 60.69%;
    display: none;
    flex-direction: none;
    justify-content: none;
    overflow: none;
    color: var(--bs-progress-bar-color);
    text-align: none;
    white-space: none; 
}
.progresText{
    margin-left: 0.14%;
    margin-top: -1%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #535353;
    margin-bottom: 0%;
}
.progres{
    margin-left: 5.14%;
    margin-top: 1%;
    width: 91%;
}
.col5{
    position: fixed;
    left: 96%;
    top: 35%;
    width: 53px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px 0px 0px 10px;
}
.fasCol5{
    margin-left: 10px;
    margin-top: 27px;
    width: 36px;
}
.tvitCol5{
    margin-left: 10px;
    margin-top: 15px;
    width: 38px;
}
.linCol5{
    margin-left: 10px;
    margin-top: 15px;
    width: 38px;
}